
<div class="card" [ngClass]="{'mostExpensive': dish.price == maxPrice,'cheapest': dish.price == minPrice}">

  <a [routerLink]="['/dish-details', dish.id]" routerLinkActive="authService.canDoClientThings()" >
    <img class="card-img-top" src="{{dish.imgs[0]}}" alt="">
  </a>
    <div class="info">

        <div>
            <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;display: inline-block ; font-size: large">{{dish.name | uppercase }}</h5>

          <button type="button" class="btn-close" style="float: right" aria-label="Close" *ngIf="authService.canDoManagerThings || authService.canDoAdminThings" (click)="removeDish() "></button>
        </div>


        <app-star-rating></app-star-rating>


        <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{dish.cuisine | uppercase }}</p>

        <p><strong>Cena:</strong> <em *ngIf="dishesService.currCurrency === 'USD'">$</em><em *ngIf="dishesService.currCurrency === 'EUR'" >€</em>{{dish.price * dishesService.currencyRate  | number : '1.2-2'}}</p>


        <div class="adder">
           <button type="button" class="btn btn-light" (click)="decrementCounter()" [disabled]="dishesService.getCurrCounter(dish) == 0"  >-</button>
            <span id="cnt" [ngClass]="{'grayPhotoCnt':dish.quantity===0}">{{dishesService.getCurrCounter(dish) }}</span>
            <button type="button" class="btn btn-light" (click)="incrementCounter()" [disabled]="dishesService.getCurrCounter(dish) == dish.quantity"   >+</button>

        </div>


    </div>


  </div>



