<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" >
  <title></title>
  <base href="/" >
  <meta name="viewport" content="width=device-width, initial-scale=1" >
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<div class="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      <a routerLink="/" routerLinkActive="active" >Delicious 🍲</a>
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a class="nav-link" routerLink="/" routerLinkActive="active">Home</a>
    <a class="nav-link" routerLink="/dishes" routerLinkActive="active">Dishes</a>
    <a class="nav-link" routerLink="/dish-form" routerLinkActive="active">Create new dish</a>
    <a class="nav-link" routerLink="/shopping-cart" routerLinkActive="active">Shopping Cart</a>
    <a class="nav-link" routerLink="/login" routerLinkActive="active"  *ngIf="!(auth.currentUser | async)">Login</a>
    <a class="nav-link" routerLink="/registration"  routerLinkActive="active" *ngIf="!(authService.currentUser | async)" >Sign up</a>
    <a class="nav-link logout" *ngIf="(authService.currentUser | async)" (click)="authService.logOut()">Logout</a>

      <a style="color: #652a2a;font-weight: 500" class="nav-link" *ngIf="(authService.currentUser | async) as user" >👤 {{user.displayName}}</a>
  </div>
</div>

<router-outlet></router-outlet>


</body>

</html>


